* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 0.8s;
    border-radius: 8px;
    box-shadow: 30px;


}

button:hover {
    transform: scale(1.2);
}
